<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.stopaddiction">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.vending.BILLING" />
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="StopAddiction"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.stopaddiction.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.stopaddiction.AchievementsActivity"
            android:parentActivityName="com.example.stopaddiction.MainActivity">
            <!-- Support libraries need this meta-data block -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.stopaddiction.MainActivity"/>
        </activity>

        <activity
            android:name="com.example.stopaddiction.HallsOfFameActivity"
            android:parentActivityName="com.example.stopaddiction.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.stopaddiction.MainActivity"/>
        </activity>
    </application>
</manifest>
